<h1>Editing service_assignment</h1>

<% form_for(@service_assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :service_id %><br />
    <%= f.text_field :service_id %>
  </p>
  <p>
    <%= f.label :service_grou_id %><br />
    <%= f.text_field :service_grou_id %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @service_assignment %> |
<%= link_to 'Back', service_assignments_path %>