<p>
  <b>Name:</b>
  <%=h @contact.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @contact.email %>
</p>

<p>
  <b>Url:</b>
  <%=h @contact.url %>
</p>

<p>
  <b>Message:</b>
<pre style="font-family: Lucida Grande">
<%=h @contact.message %>
</pre>
</p>

<p>
  <b>Referred by:</b>
  <%=h @contact.referred_by %>
</p>
