<% content_for :lead_content do %>
  <div id="about_lead">
    <h1>About Us</h1>
    <p>Scott Nedderman (<%= link_to "@scottned", "http://www.twitter.com/scottned"%>) and Chris Beck (<%= link_to "@christopherbeck", "http://www.twitter.com/christopherbeck"%>) merged their web consulting firms together in 2007, creating Netphase (<%= link_to "@netphase", "http://www.twitter.com/netphase"%>) as a two-man Ruby on Rails development shop based in Charlotte, NC. Today, they are fortunate enough to work with an excellent team of software engineers, graphic designers, systems architects, and strategy specialists to provide excellent service and results for any sized or type of technology project.</p>
    <p>Netphase is constantly searching for dedicated self-starters who have a passion for their craft. If you are creative, dependable, professional, and simply outstanding at what you do, <%= link_to "we want to hear from you", "mailto:jobs@netphase.com" %>.</p>
  </div>
  <div class="clear"></div>
<% end %>

<div id="about">
  <div class="grid_9 alpha line">
    <div class="line_right left box">
      <h2>What We Do</h2>
      <p>We are a technology consulting firm that provides web, mobile and infrastructure development and strategy to medium to large organizations.</p>
      <p>We prefer technologies that balance application scalability with rapid development, but assess each project individually to determine the right tools and resources for the job. The technologies and processes we employ allow us to deliver better solutions with fewer resources in less time, providing significant ROI.</p>  
      <p>Our people have been providing consulting services for everyone from top-5 financial institutions to fast-paced Silicon Valley start-ups for almost 15 years. We understand what it takes to deliver successful projects to production.</p>
      <p><%= link_to "Contact us today", contact_us_path %> to schedule a free initial consultation. You will be glad you did.</p>
    </div>
    <div class="right box">
     <h2>Our Philosophy</h2>
      <p>We focus our approach on three things:</p>
      <ol>
        <li>Understanding all of your organization's goals for the project before we begin.</li>
        <li>Agreement on the approach that both meets those goals and provides opportunities that were previously not considered.</li>
        <li>Delivering excellence and standing behind our work.</li>
      </ol>
      <p>We strive to provide the right solution for any project, not just the flavor-of-the-month hot technology. That being said, we have a culture of learning at Netphase, and we place great emphasis on making sure that our team-members stay ahead of the curve.</p>
      <p>We honor efficiency, honesty, elegance, simplicity, and effectiveness as team-member traits. We offer the same to our clients.</p>
    </div>
    
  <div class="clear"></div>
  
</div>
<div class="clear"></div>
<div class="grid_9 alpha">
  <h2>Where Are We?</h2>
  <p>Netphase is headquartered in Charlotte, NC, USA. Our team members are located as far north as Boston and as far west as San Francisco. We are available for consulting anywhere in the USA, Canada, Costa Rica, Argentina, Europe, Asia, and the lands Down Under.</p>
</div>
<div class="clear"></div>