<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<% title ||= "Web + iPhone / Mobile + Infrastructure Consulting | Technology Solutions for Charlotte Atlanta Raleigh Tampa DC"%>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <title>Netphase > <%= title %></title>
  <%= stylesheet_link_tag 'reset', 'text', '960', 'netphase' %>
  <%= yield :page_css %>
  <%= auto_discovery_link_tag :atom, formatted_posts_path(:atom) %>
  <link rel="apple-touch-icon" href="apple-touch-icon.png"/>  
  <%= javascript_include_tag :defaults %>
  <%= yield :page_scripts %>  
</head>
<body id="<%= controller.controller_name %>_<%= controller.action_name %>">
    <%= render :partial => "shared/header"%>  
    <%= render :partial => "shared/content"%>
    <%= render :partial => "shared/footer"%> 
    <script type="text/javascript">
    	Navigation.make_active('<%= @tab -%>');
    </script> 
		<%= google_analytics %>
</body>
</html>